/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/AIRecitation
# Icon pack folders
/IconPark - Icons Pack (Community)/
**/IconPark*/
**/icons pack*/
**/icons-pack*/

# macOS system files
.DS_Store
**/.DS_Store